<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
      https://jakarta.ee/xml/ns/jakartaee 
      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

  <display-name>NOL2425</display-name>

  <!-- Base de CentroEducativo -->
  <context-param>
    <param-name>centro.baseUrl</param-name>
    <param-value>http://localhost:9090/CentroEducativo</param-value>
  </context-param>

  <!-- Filtro global de Logs -->
  <filter>
    <filter-name>Logs</filter-name>
    <filter-class>dew.filtros.Logs</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Logs</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Filtro AuthFiltro -->
  <filter>
    <filter-name>AuthFiltro</filter-name>
    <filter-class>dew.filtros.AuthFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFiltro</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- AlumnoServlet -->
 <servlet>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>dew.main.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/alumno</url-pattern>
    <url-pattern>/alumnos</url-pattern>
  </servlet-mapping>
  
  <!-- AsignaturaServlet -->
<servlet>
  <servlet-name>AsignaturaServlet</servlet-name>
  <servlet-class>dew.main.AsignaturaServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AsignaturaServlet</servlet-name>
  <url-pattern>/asignatura</url-pattern>
  <url-pattern>/asignaturas</url-pattern>
</servlet-mapping>
  
  
<!-- Zona protegida -->
<security-constraint>
  <web-resource-collection>
    <web-resource-name>Zona protegida</web-resource-name>
    <url-pattern>/alumno</url-pattern>
    <url-pattern>/alumnos</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </web-resource-collection>
  <auth-constraint>
    <role-name>rolalu</role-name>
  </auth-constraint>
</security-constraint>

<!-- Página pública -->
<security-constraint>
  <web-resource-collection>
    <web-resource-name>Página pública</web-resource-name>
    <url-pattern>/index.jsp</url-pattern>
  </web-resource-collection>
</security-constraint>


  <!-- Configuración de login con formulario -->
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Zona alumnos</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login-error.jsp</form-error-page>
    </form-login-config>
  </login-config>


  <!-- Roles -->
  <security-role>
    <role-name>rolalu</role-name>
  </security-role>


  <!-- Welcome -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>


